In [3]:
# analysis with other currencies
# https://www.youtube.com/watch?v=XUsidyuMFsE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

In [6]:
# find data for andre currencies
df = pd.read_csv("data.csv")

In [7]:
df

        Unnamed: 0       Unix.Timestamp     Close
0                1  2021-02-28 01:02:00  45857.03
1                2  2021-02-28 01:01:00  45833.60
2                3  2021-02-28 01:00:00  45945.21
3                4  2021-02-28 00:59:00  46209.62
4                5  2021-02-28 00:58:00  46115.76
...            ...                  ...       ...
584632      584633  2020-01-01 01:04:00   7163.00
584633      584634  2020-01-01 01:03:00   7163.60
584634      584635  2020-01-01 01:02:00   7163.00
584635      584636  2020-01-01 01:01:00   7163.30
584636      584637  2020-01-01 01:00:00   7163.30

[584637 rows x 3 columns]